[Desktop Entry]
Version=1.0
Name=Canorus
GenericName=Music score editor
Comment=A free next-generation cross-platform music score editor!
Keywords=music;score;editor;midi;audio;sequencer;
Exec=canorus
Icon=/usr/share/canorus/images/clogosm.png
Terminal=false
Type=Application
Categories=Music;Audio;AudioVideoEditing;Midi;Sequencer;AudioVideo;Qt
StartupNotify=true
MimeType=application/x-notes


# Translations
Comment[de]=Ein freies, plattformübergreifendes Notensatzprogramm der nächsten Generation!
GenericName[de]=Notensatzprogramm
Comment[sl]=Prost program za pisanje not naslednje generacije!
GenericName[sl]=Program za pisanje not
Comment[ru]=Свободный кроссплатформенный музыкальный редактор партитур следующего поколения!
GenericName[ru]=Музыкальный редактор партитур
