[Desktop Entry]
Version=1.0
Name=Canorus
GenericName=Music score editor
GenericName[de]=Notensatzprogramm
GenericName[sl]=Program za pisanje not
GenericName[ru]=Музыкальный редактор партитур
Comment=A free next-generation cross-platform music score editor!
Comment[de]=Ein freies, plattformübergreifendes Notensatzprogramm der nächsten Generation!
Comment[sl]=Prost program za pisanje not naslednje generacije!
Comment[ru]=Свободный кроссплатформенный музыкальный редактор партитур следующего поколения!
Keywords=music;score;editor;midi;audio;sequencer;
Keywords[de]=Musik;Notensatz;Editor;Midi;Audio;Sequenzer;
Exec=canorus
Icon=/usr/share/canorus/images/clogosm.png
Terminal=false
Type=Application
Categories=Music;Audio;AudioVideoEditing;Midi;Sequencer;AudioVideo;Qt
StartupNotify=true
MimeType=application/x-notes
